<h1>Carrito</h1>
<div>
    {{#each cart.products}}
    <div>
        <h2>{{this.product.title}}</h2>
        <p>Cantidad: {{this.quantity}}</p>
        <p>Precio: ${{this.product.price}}</p>
        <button onclick="removeFromCart('{{this.product._id}}', '{{../cart._id}}')">Eliminar</button>
    </div>
    {{/each}}
</div>
<a href="/products">Volver a productos</a>
<script>
    function removeFromCart(productId, cartId) {
        fetch(`/api/carts/${cartId}/products/${productId}`, {
            method: 'DELETE'
        })
        .then(res => res.json())
        .then(data => location.reload())
        .catch(err => alert('Error: ' + err.message));
    }
</script>